*.html
!index.html
!template-labeling-card.html
!template-explanation-card.html
node_modules
.vscode
import
.env
db.db
public/bundle.js
package-lock.json
public/bundle.js
public/bundle.js
package-lock.json
import_new
build
package-lock.json
public
import_new.zip
backup/*
*.zip
*.db
explanations