
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Roboto/Roboto-Regular.ttf')
  }
@font-face {
  font-family: 'RedactedScript';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Redacted_Script/RedactedScript-Regular.ttf')
} 

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/materialsymbolsoutlined.woff2') format('woff2');
  }
:root {

    --md-ref-typeface-brand: 'Roboto';
    --md-ref-typeface-plain: 'Roboto';
    --md-dialog-headline-font: "Roboto";

    
  --md-sys-color-primary: rgb(143 76 56);
  --md-sys-color-surface-tint: rgb(143 76 56);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 219 209);
  --md-sys-color-on-primary-container: rgb(58 11 1);
  --md-sys-color-secondary: rgb(119 87 78);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 219 209);
  --md-sys-color-on-secondary-container: rgb(44 21 15);
  --md-sys-color-tertiary: rgb(108 93 47);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(245 225 167);
  --md-sys-color-on-tertiary-container: rgb(35 27 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(35 25 23);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(35 25 23);
  --md-sys-color-surface-variant: rgb(245 222 216);
  --md-sys-color-on-surface-variant: rgb(83 67 63);
  --md-sys-color-outline: rgb(133 115 110);
  --md-sys-color-outline-variant: rgb(216 194 188);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(57 46 43);
  --md-sys-color-inverse-on-surface: rgb(255 237 232);
  --md-sys-color-inverse-primary: rgb(255 181 160);
  --md-sys-color-primary-fixed: rgb(255 219 209);
  --md-sys-color-on-primary-fixed: rgb(58 11 1);
  --md-sys-color-primary-fixed-dim: rgb(255 181 160);
  --md-sys-color-on-primary-fixed-variant: rgb(114 53 35);
  --md-sys-color-secondary-fixed: rgb(255 219 209);
  --md-sys-color-on-secondary-fixed: rgb(44 21 15);
  --md-sys-color-secondary-fixed-dim: rgb(231 189 178);
  --md-sys-color-on-secondary-fixed-variant: rgb(93 64 55);
  --md-sys-color-tertiary-fixed: rgb(245 225 167);
  --md-sys-color-on-tertiary-fixed: rgb(35 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(216 197 141);
  --md-sys-color-on-tertiary-fixed-variant: rgb(83 70 25);
  --md-sys-color-surface-dim: rgb(232 214 210);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 237);
  --md-sys-color-surface-container: rgb(252 234 229);
  --md-sys-color-surface-container-high: rgb(247 228 224);
  --md-sys-color-surface-container-highest: rgb(241 223 218);

}

@media (prefers-color-scheme: dark) {
  :root{
    /*https://material-foundation.github.io/material-theme-builder/*/

    --md-sys-color-primary: rgb(255 181 160);
    --md-sys-color-surface-tint: rgb(255 181 160);
    --md-sys-color-on-primary: rgb(86 31 15);
    --md-sys-color-primary-container: rgb(114 53 35);
    --md-sys-color-on-primary-container: rgb(255 219 209);
    --md-sys-color-secondary: rgb(231 189 178);
    --md-sys-color-on-secondary: rgb(68 42 34);
    --md-sys-color-secondary-container: rgb(93 64 55);
    --md-sys-color-on-secondary-container: rgb(255 219 209);
    --md-sys-color-tertiary: rgb(216 197 141);
    --md-sys-color-on-tertiary: rgb(59 47 5);
    --md-sys-color-tertiary-container: rgb(83 70 25);
    --md-sys-color-on-tertiary-container: rgb(245 225 167);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(26 17 15);
    --md-sys-color-on-background: rgb(241 223 218);
    --md-sys-color-surface: rgb(26 17 15);
    --md-sys-color-on-surface: rgb(241 223 218);
    --md-sys-color-surface-variant: rgb(83 67 63);
    --md-sys-color-on-surface-variant: rgb(216 194 188);
    --md-sys-color-outline: rgb(160 140 135);
    --md-sys-color-outline-variant: rgb(83 67 63);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(241 223 218);
    --md-sys-color-inverse-on-surface: rgb(57 46 43);
    --md-sys-color-inverse-primary: rgb(143 76 56);
    --md-sys-color-primary-fixed: rgb(255 219 209);
    --md-sys-color-on-primary-fixed: rgb(58 11 1);
    --md-sys-color-primary-fixed-dim: rgb(255 181 160);
    --md-sys-color-on-primary-fixed-variant: rgb(114 53 35);
    --md-sys-color-secondary-fixed: rgb(255 219 209);
    --md-sys-color-on-secondary-fixed: rgb(44 21 15);
    --md-sys-color-secondary-fixed-dim: rgb(231 189 178);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 64 55);
    --md-sys-color-tertiary-fixed: rgb(245 225 167);
    --md-sys-color-on-tertiary-fixed: rgb(35 27 0);
    --md-sys-color-tertiary-fixed-dim: rgb(216 197 141);
    --md-sys-color-on-tertiary-fixed-variant: rgb(83 70 25);
    --md-sys-color-surface-dim: rgb(26 17 15);
    --md-sys-color-surface-bright: rgb(66 55 52);
    --md-sys-color-surface-container-lowest: rgb(20 12 10);
    --md-sys-color-surface-container-low: rgb(35 25 23);
    --md-sys-color-surface-container: rgb(39 29 27);
    --md-sys-color-surface-container-high: rgb(50 40 37);
    --md-sys-color-surface-container-highest: rgb(61 50 47);
  }
  }

body {
    margin: 0;
    font-family: 'Roboto';
    background-color: var(--md-sys-color-background);
}
#phases-ol{ /*https://stackoverflow.com/questions/5568229/how-can-i-prefix-ordered-list-item-numbers-with-a-static-string-using-css*/
  counter-reset: item;
  list-style-type: none;
}
#phases-ol li:before {
  content: 'Phase ' counter(item, decimal) ': ';
  counter-increment: item;
  font-weight: bold;
}
#card-container, 
#card-container > .group-machine,
#card-container > .group-human {
    
    margin: auto;
    
    padding-top: 2em;
    display: grid;
    width: min-content;
    gap: 0.5rem;
    max-width: 1200px;
  }
  #card-container{
    padding: 1em;
    padding-top: 2em;
  }
  .shap-force-plot-legend-container{
    display: flex;
    margin-bottom: 1em;
  }
  /*shap*/
  .shap-force-plot-label{
    margin: auto;
  }
  .shap-force-plot-label.machine{
    color: #e83752;
    float: left;
  }  .shap-force-plot-label.human{
    color: #4287f7;
    float: left;
  }
  /* div >  svg > text{
    display: none;
  } */
.lime-example-container, .shap-example{
  background-color: white;
  padding: 1em;
  color: black;
  border-radius: 16px;
}
.explanation-html, .anchors-example{
    width: 100%;
    padding-top: 1em;
    background-color: white;
    color: black;
    
}
.explanation-container, .anchors-example{
  padding: 0.5em;
  border-radius: 16px;
  background-color: white;
}

#anchors-example-2 > div > div:nth-child(1) > div:nth-child(2) > div > div.ant-card-body > div > div:nth-child(1) > div > button:nth-child(2){
  animation: glow 1s infinite alternate;
}
@keyframes glow { /*https://stackoverflow.com/a/34821366*/
  from {
    box-shadow: 0 0 10px -10px var(--md-sys-color-primary);
  }
  to {
    box-shadow: 0 0 10px 10px var(--md-sys-color-primary)
  }
}

.card,
#loading-animation,
.btn-continue-to-phase{
  position: relative;
}

#auth-card p,
#auth-card span{
  color: var(--md-sys-color-on-surface);
}
.card {
    
    padding: 1.5em;
    
    --md-elevation-level: 3;

    border-radius: 16px;
    width: 80vw;
    max-width: 800px;
    background-color: var(--md-sys-color-surface-bright);

    color: var(--md-sys-color-on-surface);
  }

  #loading-animation{
    margin-top: 10vh;
    justify-self: center;
  }
  .form-progress{
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    top: 10px;
    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-height: 8px;

  }
  #enter-fullscreen, #exit-fullscreen {
    top: 10px;

    position: fixed;
    right: 0.5em;
   
    z-index: 100;

}
#open-instructions {
  bottom: 10px;

  position: fixed;
  right: 0.5em;
  display: none;
  z-index: 100;

}
#exit-fullscreen {
    visibility: collapse;
}

#auth-card{
  text-align: center;
}
#text-field-access-token{
  margin-top: 0.5em;
}
#token-example-token-arrow-group{
  display: inline-block;
}
#token-example-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: monospace;
  font-size: larger;
}

.container-continue-to-phase,
#container-exit{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-column: auto;
  grid-row: auto;
  row-gap: 1em;
}

.container-continue-to-phase,
#container-exit{
  padding-top: 1em;
  padding-bottom: var(--md-fab-container-height, 56px);
}

#error-box{
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  font-family: "Lucida Console", Monaco, monospace;
}
#auth-form{
  justify-content: center;
  align-items: center;
}
#token-arrow{
  display: block;
}

#token-example-token{
  color: var(--md-sys-color-primary);
  border: 2px solid var(--md-sys-color-primary);
  border-radius: 5px;
}
#alert-token-invalid-ok{
  color: var(--md-sys-color-primary);
}
#icon-token-invalid{
  color: var(--md-sys-color-error);
}
/* Phase 0 */
/* Phase 1*/
.ground_truth,
.prediction,
.wrongly-correctly{
  font-weight: bold;
}
/* .prediction[human]{
  color: var(--md-sys-color-tertiary);
}
.prediction[machine]{
  color: var(--md-sys-color-secondary);
} */

.wrongly-correctly[wrongly]{
  color: var(--md-sys-color-error);
  text-decoration: underline;
}
.detector-p-container{
  width: fit-content;
  padding-left: 1em;
}
.detector-p-label{
  float: left;
  padding-right: 1em;
}
.detector-p-machine,
.detector-p-human{
  float: right;
}
.lime.anchor.model_prediction.label{
  padding: 0;
}
.ant-collapse-header {
  padding-right: 1em !important;
}
.model_prediction {
  padding-top: 1em !important;
}
.detector-p-machine,
.detector-p-human,
.detector-p-label{
  padding-top: 0.5em;
}
.detector-p-human{
  padding-bottom: 1em;
}
.section-detector-output{
  margin-top: 1em;
}
.section-detector-output > span,
.section-input-document > span {
  font-weight: bold;
}



.example_div > .lime.raw_text {
    overflow: hidden !important;
}

.document-only-card-document{
  text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
    word-wrap: break-word;

    
}
.i-think-text{
  margin-bottom: 0;
}
/* Phase 2 */
.labeling > div {
  padding-bottom: 1em;
}
.labeling form:not(.user-label-explanation-form),
.labeling .lickert-row {
  justify-content: center;
  align-content: center;
  display: flex;
  
}
.user-label-explanation-form{
  padding-top: 1em;
}
.labeling .lickert-row > div:not(.lickert-question){
  width: 20%;
  text-align: center;
}
.lickert-legend {
  text-wrap: wrap;
}
.labeling form > div:not(.lickert-row){
  padding: 1em;
}
.labeling form > div,
.labeling .lickert-row > div{
  
  justify-content: center;
  align-content: center;

}

.labeling form > div *,
.labeling .lickert-row > div *{
  display: block;
  margin: auto;
}

.labeling form > div label{
  font-size: larger;
}

/*phase 3*/
.lickert-question{
  display: block;
}
.user-label-explanation-form{
  display: grid;
  grid-template-columns: 1fr minmax(22em, 1fr);
  grid-row-gap: 1em;
  grid-template-rows: auto;
  align-items: center;
  hyphens:auto;
}


.lickert-question:not(.lickert-legend-empty), .lickert-row:not(.lickert-legend){
  border-top: 1px solid var(--md-divider-color, var(--md-sys-color-outline-variant, #cac4d0));
  height: 100%;
  padding-top: 1em;

}
.lickert-row:not(.lickert-legend) *{
  margin: 0;
}
/*lime*/
.lime.top_div {
 justify-content: center;
}
/*anchors*/
/* antd.css was changed to only apply inside .explanation-html elements */
div.ant-card-body  i::before{
  /* hotfix so that anticons don't have to be imported*/
  content: "✓";
}
.ant-card.ant-card-bordered {
    padding-top: 0.5em;
}
.lime.explanation svg{
  padding-right: 1em;
}
.ant-col-12{
  width: 46%;
}
.cvd-btn-container{
  display: flex;
}
.cvd-btn-container md-filled-tonal-icon-button {

  float: left;
}
.cvd-btn-container label{
  text-align:right;
  padding-left: 1em;
  float: right;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
#participant-info-form > div{
  padding-bottom: 1em;
}
.ant-card-body{
  padding: 0.5em;
}
.ant-row{
  margin: 0 !important;
}
.lime.explanation_frame > div:nth-child(2) {
    margin-top: 1em !important;
    
}
.lime.explanation_frame * {
    font-size: medium !important; /* default browser setting*/
}
.ant-btn-group > .ant-btn {
    margin-right: 0.2em !important;
    border-radius: 0.3em !important;
    margin-top: 1em;
    padding: 0.1em;
}
.anchors-example{
  padding-bottom: 1em;
  padding-top: 1em;
  width: initial;
  margin-bottom: 1em;
}
span.emphasis{
  font-weight: bold;
  color: var(--md-sys-color-tertiary);
}
span.term{
  font-weight: bold;
  font-style: italic;
  color: var(--md-sys-color-secondary);
}
span.replace{
  color: var(--md-sys-color-error);
}
#anchors-example-document{
  --md-elevation-level: 4;
  position: relative;
  background-color: white;
  color: black;
  width: fit-content;
  border-radius: 8px;
  padding: 2em;
  margin-left: 0;
}
.lime.anchor,
:not(.lime.example_roll) .lime.raw_text {
    padding-top: 1em !important;
}
/*LIME*/
.lime.top_div *, .anchors-example *{
    font-family: 'Roboto' !important;
    text-align: justify;
}
.explanation-html *{
  font-family: 'Roboto' !important;
}
.lime.text_div h3{
  display: none;
}
.go-fullscreen-hint{
  display: none;
}
@media only screen and (max-device-height: 500px) {

    .go-fullscreen-hint{
      display: block;
    }
}
#dialog-viewport-width-to-low{
  --md-dialog-container-color: var(--md-sys-color-surface-bright)
}
#please-rotate-text{
  color: var(--md-sys-color-tertiary);
  font-weight: bold;
}

/*Participant info form*/
.participant-data-answers-container-binary,
.participant-data-answers-container-select-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 400px;
  margin: auto;
}

.participant-data-answer{
  justify-content: center;
  justify-self: center;
  padding-bottom: 1em;


}
.participant-data-answer label{
  text-align: center;
  margin: auto;
  display: block;

}
.participant-data-answer md-radio,
.participant-data-answer md-checkbox{
  display: block;
  padding-bottom: 0.5em;
}
md-checkbox,
md-radio {
  margin: auto;
}
#participant-data-optional-has-used-explanation-methods-before{
  display: none;
}


.lime.raw_text,
.lime.text_div{
 
  overflow: visible !important;
  max-height: initial !important;
}


/**************************/
/* .explanation-html > div > div > div,
svg  text,
.lime.raw_text *,
.lime.text_div *,
.document-only-card-document,
.explanation-html button span{
  font-family: "RedactedScript" !important;
} */

.images-side-by-side {
  display: flex;
}
.images-side-by-side-col {
  flex: 40%;
  
  

}
.images-side-by-side-col figcaption, .images-side-by-side-col *{
  text-align: center;
  color: var(--md-sys-color-on-surface);
}
.images-side-by-side-col figcaption{
  font-size: large;
}
.images-side-by-side-col img{
  width: 100%;
  height: 5em;
  object-fit: cover;
  overflow: hidden;
}
.images-side-by-side-col a{
  font-size: smaller;
}

.reveal-box{
  padding-top: 1em;
  position:relative;
}
.reveal-box md-fab{
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  position:absolute;
  z-index: 3;
}
.reveal-box:not([blurred]) md-fab{
  display: none;

}
.reveal-box[blurred] .blur{
  filter: blur(5px) grayscale(100%);

}
.group-human > h1, .group-machine > h1{
  color: var(--md-sys-color-on-background);
  display: none;
}

/* .card.document-only-card.machine{
  background-color: var(--md-sys-color-surface-variant);
} */
.card.document-only-card.human,
.card.explanation-card.human{
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container);
}

/* .user-label-explanation-form.loading{
  display: none;
}
.explanation-circular-progress{
  padding-top: 1em;
  display: flex;
  width: 100%;
}
.explanation-circular-progress md-circular-progress{
  
  margin: auto;
} */
.on-rating-coding-instructions{
  padding-left: 2em;
}
address{
  padding-left: 2em;
}
#phase5-card a{
  color: var(--md-sys-color-on-surface-variant);
}